body{
    background-color: rgb(0, 0, 0);
color:rgb(255, 72, 0);
}
h3{
    text-align: center;
}
header{
    background-color: #1A1A1D;
    color:aquamarine;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: bisque;
    padding:20px;
    font-size: 24px;
}
 .primeiro-titulo{
    color: black;
    text-align: left;
    background-color: white;
    padding: 20px;
    margin: 0;
 }
 p{ 
    text-align: center;
    color: yellow:

 }


